Pandas 설치 및 불러오기

In [ ]:

# 라이브러리 불러오기
import pandas as pd

Requirement already satisfied: pandas in c:\users\user\desktop\ai\jupyter113\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\desktop\ai\jupyter113\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\desktop\ai\jupyter113\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\desktop\ai\jupyter113\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\desktop\ai\jupyter113\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\desktop\ai\jupyter113\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Series 생성

In [4]:
import pandas as pd

s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

Dataframe 생성

In [5]:
data = {'이름': ['홍길동', '이몽룡', '성춘향'],
        '나이': [25, 22, 24],
        '점수': [90, 85, 88]}

df = pd.DataFrame(data)
print(df)

    이름  나이  점수
0  홍길동  25  90
1  이몽룡  22  85
2  성춘향  24  88

Dataframe 출력

In [6]:
print(df.info())    # 데이터 구조 확인
print(df.describe())    # 통계 요약

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      3 non-null      object
 1   나이      3 non-null      int64
 2   점수      3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes
None
              나이         점수
count   3.000000   3.000000
mean   23.666667  87.666667
std     1.527525   2.516611
min    22.000000  85.000000
25%    23.000000  86.500000
50%    24.000000  88.000000
75%    24.500000  89.000000
max    25.000000  90.000000

Dataframe 인덱스 조회

In [7]:
df.index = ['학생1', '학생2', '학생3']
print(df)

      이름  나이  점수
학생1  홍길동  25  90
학생2  이몽룡  22  85
학생3  성춘향  24  88

예제 csv 데이터 생성

In [8]:
import pandas as pd

# 예제 데이터 생성
data = {
    '이름': ['홍길동', '이몽룡', '성춘향', '변학도', '박문수'],
    '나이': [25, 22, 24, 27, 26],
    '점수': [90, 85, 88, 76, 95],
    '도시': ['서울', '부산', '서울', '대구', '광주']
}

# 데이터프레임 생성
df = pd.DataFrame(data)

# CSV 파일로 저장
df.to_csv('data.csv', index=False, encoding='utf-8-sig')

예제 excel 데이터 생성

In [ ]:

import pandas as pd

# 예제 데이터 생성
data = {
    '이름': ['홍길동', '이몽룡', '성춘향', '변학도', '박문수'],
    '나이': [25, 22, 24, 27, 26],
    '점수': [90, 85, 88, 76, 95],
    '도시': ['서울', '부산', '서울', '대구', '광주']
}

# 데이터프레임 생성
df = pd.DataFrame(data)

# Excel 파일로 저장
df.to_excel('data.xlsx', sheet_name='학생정보', index=False)

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

csv 데이터 불러오기

In [11]:
df = pd.read_csv('data.csv')
print(df.head())    # 상위 5개 행 출력

    이름  나이  점수  도시
0  홍길동  25  90  서울
1  이몽룡  22  85  부산
2  성춘향  24  88  서울
3  변학도  27  76  대구
4  박문수  26  95  광주

excel 데이터 불러오기

In [ ]:
df = pd.read_excel('data.xlsx', sheet_name='학생정보')
print(df.head())    # 상위 5개 행 출력

데이터 저장하기

In [ ]:
df.to_csv('output.csv', index=False)
df.to_excel('output.xlsx', index=False)

데이터프레임 만들기

In [ ]:
import pandas as pd
filename='/content/drive/MyDrive/KDT/dataset/module1/example_df.csv'
df = pd.read_csv(filename)
df

변수 속성 확인

In [ ]:
df.info()   # 데이터의 변수 속성 출력
df.head()   # 상위 5개 행 출력
df.head(7)  # 상위 n개 행 출력

데이터 통계 출력

In [ ]:
df.describe()                   # 요약 통계량 확인(수치형 컬럼)
df.describe(include='object')   # 요약 통계량 확인(문자형 컬럼)

데이터 행, 열 크기 확인

In [ ]:
df.shape    # 데이터프레임의 크기(행, 열)

데이터 인덱스, 컬럼명 확인

In [ ]:
df.index    # 인덱스명 확인
df.columns  # 컬럼명 확인

데이터 타입 확인

In [ ]:
df.dtypes   # 데이터프레임 각 컬럼의 데이터 타입 확인

데이터 정렬

In [ ]:
df.sort_values('Salary')
df.sort_values('JoinDate', ascending=False)

데이터 빈도수 출력

In [ ]:
cnt=df['Department'].value_counts()
pd.DataFrame(cnt)

데이터 고윳값 출력

In [ ]:
df['Department'].unique()

칼럼(열) 선택

In [ ]:
# 엑셀 파일을 불러와서 데이터프레임 생성하기
import pandas as pd
filename='/content/drive/MyDrive/KDT/dataset/module1/weather_data.xlsx'
df=pd.read_excel(filename)
df.head()

In [ ]:
df['평균기온']  # 단일 컬럼 선택하기

In [ ]:
df[['최저기온','최고기온']] # 모든 행의 여러 컬럼 선택하기 ( [] )

In [ ]:
df.loc[:,['날짜','최고기온']]   # 모든 행의 여러 컬럼 선택하기 ( loc[] )

In [ ]:
df.loc[0:3,['날짜','최고기온']] # 특정 행의 여러 컬럼 선택하기 ( loc[] )

레이블이나 조건 표현으로 선택

In [ ]:
# 인덱스 지정 후 컬럼 선택하기 ( loc[] )
df.index=df['날짜']
df.loc['2023-01-27', ['최저기온', '최고기온']]

In [ ]:
df.loc[df['평균기온']>=5]   # 조건을 충족하는 행 선택하기 ( loc[] )

In [ ]:
df.loc[df['평균기온']>=5, ['최고기온']] # 조건을 충족하는 행에서 컬럼 선택하기 ( loc[] )

불 인덱싱

In [ ]:
# 조건에 맞는 데이터 선택 ( [] )
w=df['최고기온']>=10
df[w]

In [ ]:
# 조건에 맞는 행에서 특정 컬럼 선택 ( [] )
w=df['최고기온']>=10
df[w][['최저기온','최고기온']]

In [ ]:
# 조건에 맞는 데이터 선택 ( [] )
w=df['최고기온']==df['최고기온'].max()
df[w]

컬럼 삭제

In [ ]:
# 엑셀 파일 불러오기
import pandas as pd
filename='/content/drive/MyDrive/KDT/dataset/module1/convenience_store.xlsx'
df=pd.read_excel(filename)
df

In [ ]:
# 여러 컬럼 삭제하기
df.drop(['브랜드', '납품날짜'], axis=1, inplace=True)
df.columns

In [ ]:
# 컬럼 이름 변경 후 확인하기
df.columns=['제품이름','제품종류','행사상품','가격','소비기한']
df.head()

컬럼 생성

In [ ]:
# 데이터형 확인하기
df.dtypes

데이터 그룹핑

In [ ]:
newdata=df.groupby('제품종류').size()
newdata

결측 데이터 확인

In [ ]:
# 데이터 불러오기
import pandas as pd
filename='/content/drive/MyDrive/KDT/dataset/module1/titanic/train.csv'
df=pd.read_csv(filename)
df.head()

In [ ]:
# Embarked 결측 데이터 확인
df[df['Embarked'].isna()]

In [ ]:
# 컬럼별 결측 데이터 개수 확인하기
df.isnull().sum()

결측 데이터 삭제

In [ ]:
# 결측 데이터가 포함된 컬럼 삭제하기
df.drop('Cabin', axis=1, inplace=True)
df.columns

결측 데이터 최빈값 or 평균값 대체

In [ ]:
# 최빈값 찾기
df['Embarked'].mode()

In [ ]:
# 최빈값으로 대체하기
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
df.isnull().sum()

In [ ]:
# 평균값으로 대체하기
avg=df['Age'].mean()
df['Age']=df['Age'].fillna(avg)
df.isnull().sum()