리스트(list)

In [1]:
# 리스트 생성
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
mixed = [1, "hello", 3.5, True]     # 다양한 타입 혼합 가능

# 리스트 출력 
print(fruits)       # ['apple', 'banana', 'cherry']
print(numbers[0])   # 첫 번째 요소 접근 (index 0)
print(fruits[-1])   # 마지막 요소 접근 (-1 인덱스)

['apple', 'banana', 'cherry']
1
cherry

In [2]:
# 리스트 생성
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

# 양수 인덱스로 접근 (0부터 시작)
print(fruits[0])    # apple
print(fruits[2])    # cherry
print(fruits[4])    # elderberry

# 음수 인덱스로 접근 (뒤에서부터)
print(fruits[-1])   # elderberry
print(fruits[-3])   # cherry

apple
cherry
elderberry
elderberry
cherry

In [3]:
numbers = [10, 20, 30, 40, 50, 60, 70]

print(numbers[1:4])     # [20, 30, 40] (인덱스 1부터 3까지)
print(numbers[:3])      # [10, 20, 30] (처음부터 2까지)
print(numbers[3:])      # [40, 50, 60, 70] (인덱스 3부터 끝까지)
print(numbers[:])       # [10, 20, 30, 40, 50, 60, 70] (전체 리스트 복사

[20, 30, 40]
[10, 20, 30]
[40, 50, 60, 70]
[10, 20, 30, 40, 50, 60, 70]

In [4]:
numbers = [10, 20, 30, 40, 50]

numbers[1:3] = [21, 31]     # 인덱스 1~2의 값 변경 (20 -> 21, 30 -> 31)
print(numbers)      # [1, 21, 31, 40, 50]

numbers[:2] = [1, 2]        # 처음 두 개 요소 변경 (10 -> 1, 21 -> 2)
print(numbers)      # [1, 2, 31, 40, 50]

numbers[-2:] = [99, 100]     # 마지막 두 개 요소 변경 (40 -> 99, 50 -> 100)
print(numbers)      # [1, 2, 31, 99, 100]

[10, 21, 31, 40, 50]
[1, 2, 31, 40, 50]
[1, 2, 31, 99, 100]

튜플(tuple)

In [5]:
# 일반적인 튜플 초기화
fruits = ("apple", "banana", "cherry")
numbers = (1, 2, 3, 4, 5)

print(fruits)       #('apple', 'banana', 'cherry')
print(numbers)      #(1, 2, 3, 4, 5)

('apple', 'banana', 'cherry')
(1, 2, 3, 4, 5)

In [6]:
# 튜플 생성 
fruits = ("apple", "banana", "cherry", "date", "elderberry")

# 양수 인덱스
print(fruits[0])    # apple
print(fruits[2])    # cherry
print(fruits[4])    # elderberry

# 음수 인덱스 
print(fruits[-1])   # elderberry (마지막 요소)
print(fruits[-3])   # cherry (뒤에서 3번째 요소)

apple
cherry
elderberry
elderberry
cherry

딕셔너리(dictionary)

In [7]:
# 빈 딕셔너리 생성 후 값 추가
person = {}

person["name"] = "Alice"
person["age"] = 25
person["city"] = "Seoul"

print(person)
# {'name' : 'Alice', 'age' : 25, 'city' : 'Seoul'}

{'name': 'Alice', 'age': 25, 'city': 'Seoul'}

In [8]:
# 딕셔너리 생성
person = {"name" : "Alice", "age" : 25, "city" : "Seoul" }

# 키를 사용하여 값 가져오기
print(person["name"])   # Alice
print(person["age"])    # 25
print(person["city"])   # Seoul

Alice
25
Seoul

세트(set)

In [ ]:
# 1. 중괄호 '{}'를 사용하여 세트 생성
numbers_a = {5, 10, 15}
print(numbers_a)    # {5, 10, 15}

# 2. 'set()' 생성자를 사용하여 리스트를 세트로 변환
numbers_b = set([5, 10, 15])
print(numbers_b)    # [5, 10, 15]

# 3. 중복된 요소가 포함된 세트 생성 (자동으로 중복 제거)
numbers_c = {5, 10, 15, 10, 5}
print(numbers_c)    # {5, 10, 15} (중복 요소 제거)

{10, 5, 15}
{10, 5, 15}
{10, 5, 15}

In [10]:
# 합집합
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

# '|' 연산자 사용
union_set = A | B
print(union_set)# {1, 2, 3, 4, 5, 6}

# 'union()' 메서드 사용
union_set_method = A.union(B)
print(union_set_method)# {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [11]:
# 교집합
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

# '&' 연산자 사용
intersection_set = A & B
print(intersection_set)     # {3, 4}

# 'intersection()' 메서드 사용
intersection_set_method = A.intersection(B)
print(intersection_set_method)  # {3, 4}

{3, 4}
{3, 4}

In [12]:
# 차집합
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

# '-' 연산자 사용
difference_set = A - B
print(difference_set)           # {1, 2}

# 'difference()' 메서드 사용
difference_set_method = A.difference(B)
print(difference_set_method)    # {1, 2}

# 반대로 B에서 A의 요소를 제거
difference_set_BA = B - A
print(difference_set_BA)        # {5, 6}

{1, 2}
{1, 2}
{5, 6}

리스트 컴프리헨션

In [2]:
# 기존의 for 문을 이용한 리스트 생성
numbers = []
for i in range(5):
    numbers.append(i)

print(numbers)      # [0, 1, 2, 3, 4]

# 리스트 컴프리헨션을 사용한 동일 코드
numbers = [i for i in range(5)]
print(numbers)   # [0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [3]:
# 짝수만 포함하는 리스트 생성
even_numbers = [i for i in range(10) if i % 2 == 0]
print(even_numbers) # [0, 2, 4, 6, 8]

# 3의 배수만 포함하는 리스트 생성
multiples_of_3 = [i for i in range(20) if i % 3 == 0]
print(multiples_of_3)   # [0, 3, 6, 9, 12, 15, 18]

[0, 2, 4, 6, 8]
[0, 3, 6, 9, 12, 15, 18]